numba==0.48.0
numpy==1.22.0
pandas==1.0.3
networkx==2.4
scipy==1.4.1
interlap==0.2.6
seaborn==0.10.0
bayesian-optimization==1.1.0
joblib==0.14.1
geopy==1.21.0
pathos==0.2.5
requests==2.23.0
folium==0.10.1
torch==1.5.0
sobol-seq==0.1.2
gpytorch==1.1.1
botorch==0.2.1
tornado==6.3.2
sympy==1.6.2
mpmath==1.1.0